[parity]
mode = "active"
{%if dai%}
chain = "/etc/spec.json"
{%endif%}

[footprint]
tracing = "off"
pruning = "fast"
db_compaction = "ssd"
cache_size = 512
scale_verifiers = true
num_verifiers = 4

# prevents the printing of status messages
# [ipfs]
# enable = true
# port = {{parity_ipfs_port}}
# interface = "local"
# cors = []
# hosts = ["localhost"]

[rpc]
disable = false
port = {{parity_rpc_port}}
interface = "local"
cors = []
apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub"]
hosts = ["all"]
server_threads = 4
processing_threads = 4

[websockets]
disable = false
port = {{parity_websocket_port}}
interface = "local"
origins = ["all"]
apis = ["web3", "eth", "pubsub", "net", "parity", "parity_pubsub", "traces", "rpc", "shh", "shh_pubsub"]
hosts = ["all"]

[network]
port = {{parity_peer_port}}
min_peers = 50
max_peers = 500
{%if dai%}
bootnodes = ["enode://78cfa7b7d10045e3ad19b22b0a46e22a25ea3490a51336c7e41f13c76b193b4f352b3cdc0764a05fedf2729dbd608d44417fd8154d86954eefe3f24d5a0ac726@13.66.219.225:30303","enode://11e1ef6b78a1ac11cf32ed62d7a31731c642511c933adea729a4217c60c91d0fe04634e0834736f26aa20e4f0e8e32e4bba411fe3e6b4b1df66f9064983e84ed@40.87.15.152:30303"]
{%endif%}

[misc]
logging = "INFO"
#log_file = "/var/log/parity.log"
color = true
